node_modules
npm-debug.log
env.*

.git
.cache
.DS_Store
.gitignore

*.md
!README*.md
README-secret.md

dist/**
devops

# To prevent storing dev/temporary container data
*.csv
tmp
dump.rdb

# Tests
/coverage
/.nyc_output
